In [1]:
from pandas import DataFrame


cars = {'make': ['Ford', 'Honda', 'Toyota', 'Tesla'],
    'model': ['Taurus', 'Accord', 'Camry', 'Model S'],
    'MSRP': [27595, 23570, 23495, 68000]}
carData2 = DataFrame(cars, index = [1,2,3,4]) # change the row index #print(carData2)
carData2['year'] = 2018 # add column with same value
carData2['dealership'] = ['Courtesy Ford','Capital Honda','Spartan Toyota', 'N/A']
carData2

     make    model   MSRP  year      dealership
1    Ford   Taurus  27595  2018   Courtesy Ford
2   Honda   Accord  23570  2018   Capital Honda
3  Toyota    Camry  23495  2018  Spartan Toyota
4   Tesla  Model S  68000  2018             N/A

In [3]:
print(carData2.iloc[1])

make                  Honda
model                Accord
MSRP                  23570
year                   2018
dealership    Capital Honda
Name: 2, dtype: object

In [2]:
print(carData2.iloc[1,2]) # retrieving second row, third column # integer indexing
print(carData2.loc[1,'model']) # retrieving second row, column named 'model'

23570
Taurus